<%= render 'layouts/header' %>
<section class="indent">
    <h3>Comments</h3>
    <br>
    <button class="cancel-btn link">
        <%= link_to 'Back to post', user_post_path(@post.author, @post), style: 'color: black; text-decoration: none;' %>
    </button>
    <ul class="list">
        <% @post.comments.each do |comment| %>
            <li> <%= comment.author.name %>: <%= comment.text %> </li>
        <% end %>
    </ul>
</section>